------------------------------------------------------------------------------------------------------------------------
-- DB_CREATE
------------------------------------------------------------------------------------------------------------------------
SET NOCOUNT ON;
SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
SET TRANSACTION ISOLATION LEVEL READ COMMITTED;
PRINT N'[ ] SET TRANSACTION ISOLATION LEVEL READ COMMITTED';
DECLARE @DB_NAME_CUR VARCHAR(128) = NULL;
DECLARE @DB_NAME_DEV VARCHAR(128) = 'HRM_DEMO_DEV';
DECLARE @DB_NAME_PROD VARCHAR(128) = 'HRM_DEMO_PROD';
DECLARE @CMD NVARCHAR(MAX);
USE [MASTER];
------------------------------------------------------------------------------------------------------------------------
DECLARE @IS_ACTION_DEV BIT = 1;
DECLARE @IS_ACTION_PROD BIT = 0;
------------------------------------------------------------------------------------------------------------------------
-- DEFAULT DIRS
DECLARE @DEFAULT_DATA NVARCHAR(512);	-- DATA
DECLARE @DEFAULT_LOG NVARCHAR(512);		-- LOGS
DECLARE @DEFAULT_BACKUP NVARCHAR(512);	-- BACKUP
DECLARE @MASTER_DATA NVARCHAR(512);		-- master.mdf
DECLARE @MASTER_LOG NVARCHAR(512);		-- master.ldf
EXEC MASTER.DBO.XP_INSTANCE_REGREAD N'HKEY_LOCAL_MACHINE', N'SOFTWARE\MICROSOFT\MSSQLSERVER\MSSQLSERVER', N'DEFAULTDATA', @DEFAULT_DATA OUTPUT;
EXEC MASTER.DBO.XP_INSTANCE_REGREAD N'HKEY_LOCAL_MACHINE', N'SOFTWARE\MICROSOFT\MSSQLSERVER\MSSQLSERVER', N'DEFAULTLOG', @DEFAULT_LOG OUTPUT;
EXEC MASTER.DBO.XP_INSTANCE_REGREAD N'HKEY_LOCAL_MACHINE', N'SOFTWARE\MICROSOFT\MSSQLSERVER\MSSQLSERVER', N'BACKUPDIRECTORY', @DEFAULT_BACKUP OUTPUT;
EXEC MASTER.DBO.XP_INSTANCE_REGREAD N'HKEY_LOCAL_MACHINE', N'SOFTWARE\MICROSOFT\MSSQLSERVER\MSSQLSERVER\PARAMETERS', N'SQLARG0', @MASTER_DATA OUTPUT;
SELECT @MASTER_DATA = SUBSTRING(@MASTER_DATA, 3, 255);
SELECT @MASTER_DATA = SUBSTRING(@MASTER_DATA, 1, LEN(@MASTER_DATA) - CHARINDEX('\', REVERSE(@MASTER_DATA)));
EXEC MASTER.DBO.XP_INSTANCE_REGREAD N'HKEY_LOCAL_MACHINE', N'SOFTWARE\MICROSOFT\MSSQLSERVER\MSSQLSERVER\PARAMETERS', N'SQLARG2', @MASTER_LOG OUTPUT;
SELECT @MASTER_LOG = SUBSTRING(@MASTER_LOG, 3, 255);
SELECT @MASTER_LOG = SUBSTRING(@MASTER_LOG, 1, LEN(@MASTER_LOG) - CHARINDEX('\', REVERSE(@MASTER_LOG)));
PRINT N'[✓] FOUND DEFAULT DIRS IS SUCCESS';
------------------------------------------------------------------------------------------------------------------------
-- DEVELOP
IF (@IS_ACTION_DEV = 1) BEGIN
	IF (DB_ID(@DB_NAME_DEV) IS NULL) BEGIN
		SET @DB_NAME_CUR = @DB_NAME_DEV;
	END;
END;
------------------------------------------------------------------------------------------------------------------------
-- PRODUCT
IF (@IS_ACTION_PROD = 1) BEGIN
	IF (DB_ID(@DB_NAME_PROD) IS NULL) BEGIN
		SET @DB_NAME_CUR = @DB_NAME_PROD;
	END;
END;
------------------------------------------------------------------------------------------------------------------------
-- JOB
IF (@DB_NAME_CUR IS NULL) BEGIN
	PRINT N'[x] DB IS ALREADY EXISTS';
END ELSE BEGIN
	PRINT N'[✓] DB IS SET [' + @DB_NAME_CUR + N']';
	-- DB CREATE
	SET @CMD = N'
CREATE DATABASE [' + @DB_NAME_CUR + N'] ON PRIMARY 
(NAME = N''' + @DB_NAME_CUR + ''', FILENAME = N''' + ISNULL(@DEFAULT_LOG, @MASTER_LOG) + N'\' + @DB_NAME_CUR + N'.MDF'', 
SIZE = 10MB, MAXSIZE = 10GB, FILEGROWTH = 100MB)
LOG ON (NAME = N''' + @DB_NAME_CUR + '_LOG'', FILENAME = N''' + ISNULL(@DEFAULT_LOG, @MASTER_LOG) + N'\' + @DB_NAME_CUR + N'.LDF'', 
SIZE = 10MB, MAXSIZE = 10GB, FILEGROWTH = 100MB)'
	EXEC (@CMD);
	PRINT N'[✓] DB CREATED COMPLETE';
	-- DB SETTINGS
	SET @CMD = N'
ALTER DATABASE [' + @DB_NAME_CUR + N'] SET AUTO_CREATE_STATISTICS ON
ALTER DATABASE [' + @DB_NAME_CUR + N'] SET AUTO_UPDATE_STATISTICS ON 
ALTER DATABASE [' + @DB_NAME_CUR + N'] SET CURSOR_DEFAULT GLOBAL 
ALTER DATABASE [' + @DB_NAME_CUR + N'] SET CONCAT_NULL_YIELDS_NULL OFF 
ALTER DATABASE [' + @DB_NAME_CUR + N'] SET RECURSIVE_TRIGGERS OFF 
ALTER DATABASE [' + @DB_NAME_CUR + N'] SET READ_WRITE 
ALTER DATABASE [' + @DB_NAME_CUR + N'] SET RECOVERY FULL
ALTER DATABASE [' + @DB_NAME_CUR + N'] SET MULTI_USER 
ALTER DATABASE [' + @DB_NAME_CUR + N'] SET PAGE_VERIFY TORN_PAGE_DETECTION  
USE [' + @DB_NAME_CUR + N']
IF NOT EXISTS (SELECT NAME FROM SYS.FILEGROUPS WHERE IS_DEFAULT = 1 AND NAME = N''PRIMARY'') 
	ALTER DATABASE [' + @DB_NAME_CUR + N'] MODIFY FILEGROUP [PRIMARY] DEFAULT';
	EXEC (@CMD);
	PRINT N'[✓] DB SETTINGS COMPLETE';
END;
------------------------------------------------------------------------------------------------------------------------
